<div id="myFooter" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 myCols">
                <h5 jhiTranslate="footer.legal.label">Legal</h5>
                <ul>
                    <li><a jhiTranslate="footer.legal.termsofservice" href="#">Terms of Service</a></li>
                    <li><a jhiTranslate="footer.legal.termsofuse" href="#">Terms of Use</a></li>
                    <li><a jhiTranslate="footer.legal.privacypolicy" href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-sm-3 myCols">
                <h5  jhiTranslate="footer.aboutus.label">About us</h5>
                <ul>
                    <li><a jhiTranslate="footer.aboutus.companyinfo" href="#">Company Information</a></li>
                    <li><a jhiTranslate="footer.aboutus.contactus" href="#">Contact us</a></li>
                    <li><a jhiTranslate="footer.aboutus.reviews" href="#">Reviews</a></li>
                </ul>
            </div>
            <div class="col-sm-3 myCols">
                <h5 jhiTranslate="footer.support.label">Support</h5>
                <ul>
                    <li><a jhiTranslate="footer.support.faq" href="#">FAQ</a></li>
                    <li><a jhiTranslate="footer.support.helpdesk" href="#">Help desk</a></li>
                    <li><a jhiTranslate="footer.support.forums" href="#">Forums</a></li>
                </ul>
            </div>
            <div class="col-sm-3 myCols">
                <h5 jhiTranslate="footer.social.label">Social</h5>
                <div class="social-networks">
                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="facebook"><i class="fa fa-facebook-official"></i></a>
                    <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p jhiTranslate="footer.copyright"> © 2016 Copyright Text </p>
    </div>
</div>
