<div>
    <h2>
        <span jhiTranslate="moneyxchangeApp.spotExchange.home.title">Spot Exchanges</span>
        <button class="btn btn-primary float-right jh-create-entity create-spot-exchange" [routerLink]="['/', { outlets: { popup: ['spot-exchange-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="moneyxchangeApp.spotExchange.home.createLabel">
            Create new Spot Exchange
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'moneyxchangeApp.spotExchange.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="spotExchanges">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fromInstant"><span jhiTranslate="moneyxchangeApp.spotExchange.fromInstant">From Instant</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="operation"><span jhiTranslate="moneyxchangeApp.spotExchange.operation">Operation</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="sourceCurrencyCode"><span jhiTranslate="moneyxchangeApp.spotExchange.sourceCurrency">Source Currency</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="targetCurrencyCode"><span jhiTranslate="moneyxchangeApp.spotExchange.targetCurrency">Target Currency</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let spotExchange of spotExchanges ;trackBy: trackId">
                <td><a [routerLink]="['../spot-exchange', spotExchange.id ]">{{spotExchange.id}}</a></td>
                <td>{{spotExchange.fromInstant | date:'medium'}}</td>
                <td jhiTranslate="{{'moneyxchangeApp.Operation.' + spotExchange.operation}}">{{spotExchange.operation}}</td>
                <td>
                    <div *ngIf="spotExchange.sourceCurrencyId">
                        <a [routerLink]="['../currency', spotExchange.sourceCurrencyId  ]" >{{spotExchange.sourceCurrencyCode}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="spotExchange.targetCurrencyId">
                        <a [routerLink]="['../currency', spotExchange.targetCurrencyId  ]" >{{spotExchange.targetCurrencyCode}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../spot-exchange', spotExchange.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'spot-exchange/'+ spotExchange.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'spot-exchange/'+ spotExchange.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="spotExchanges && spotExchanges.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
